{% extends 'survey/base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <strong>Success!</strong> {{ message }}
        {% endfor %}
    </div>
{% endif %}
    <a class="btn btn-primary" href="{% url 'signup' %}">Add Employee</a>

    <h5>List of Employee</h5>
    <div class="card">
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">{{ user }}, {{ user.email }}
                    <div class="text-right" style="float: right;">
                        <a href="{% url 'editEmpl' user.id %}"><span class="fa fa-pencil text-right" ></span></a>
                        <a href="{% url 'deleteEmpl' user.id %}"><span class="fa fa-trash text-right text-danger"></span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}