{% extends 'survey/base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-warning">
        {% for message in messages %}
           {{ message }}
        {% endfor %}
    </div>
{% endif %}
    <a class="btn btn-primary" href="{% url 'signup' %}">Add Employee</a>
    {% if user.is_authenticated %}
          {% if request.user.is_org_admin %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#add_empl_model">Add Bulk Employees (CSV)</button>
        {% endif %}
    {% endif %}
    <h5>List of Employee</h5>
    <div class="card">
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item">{{ user }}, {{ user.email }}
                    <div class="text-right" style="float: right;" data-id="{{ user.id }}">
                        {% if request.user.is_superuser %}
                            <a href="#" id="edit-btn" data-toggle="modal" data-target="#assing_org"><span class="fa fa-share text-right"></span></a>
                        {% endif %}
                        <a href="{% url 'editEmpl' user.id %}"><span class="fa fa-pencil text-right" ></span></a>
                        <a href="{% url 'deleteEmpl' user.id %}"><span class="fa fa-trash text-right text-danger"></span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="modal" id="add_empl_model">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Bulk Employee</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="{% url 'uploadEmplCSV' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-sm-12" >Select CSV File:</label>
                    <div class="col-sm-12">
                      <input type="file" class="form-control" name="empl_csv">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </form>
            </div>

          </div>
        </div>
    </div>

 <!-- Modal -->
      <div class="modal fade" id="assing_org" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Question</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="assign-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="user_id" name="user_id">
                        <label>Organization:</label><br>
                           <select name="organization" class="form-control" style="padding: 3px 8px; min-width: 185px;">
                               <option value="">Select organization</option>
                               {% for organization in org_list %}
                                  <option value="{{organization.id}}">{{organization}}</option>
                               {% endfor %}
                          </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right">Close</button>
                </form>
            </div>
          </div>

        </div>
      </div>
<script>
    $('.fa-share').click(function(){
        user_id = $(this).parent().parent().attr('data-id')
        $('#assign-form #user_id').val(user_id);
        $('#assign-form').attr('action', "{% url 'assign_organization' %}");
    });
</script>

{% endblock %}