{% extends 'survey/base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <strong>Success!</strong> {{ message }}
        {% endfor %}
    </div>
{% endif %}
    <a class="btn btn-primary" href="{% url 'addQuest' %}">Add Questions</a>
    <br></br>
    <div class="card">
        <ul class="list-group">
            {% for question in questions_list %}
                <li class="list-group-item" data-id="{{ question.id }}" data-name="{{ question.title }}">{{ question.title }}
                    <div class="text-right" style="float: right;">
                        <a href="#" id="edit-btn" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil text-right"></span></a>
                        <a href="{% url 'deleteQuestion' question.id %}"><span class="fa fa-trash text-right text-danger"></span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Modal -->
      <div class="modal fade" id="edit" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Question</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="edit-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="quest_id" name="quest_id">
                        <label class="control-label col-sm-2" >Title:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right">Close</button>
                </form>
            </div>
          </div>

        </div>
      </div>
<script>
    $('.fa-pencil').click(function(){
        quest_id = $(this).parent().parent().parent().attr('data-id')
        quest_title = $(this).parent().parent().parent().attr('data-name')
        $('#edit-form #quest_id').val(quest_id);
        $('#edit-form #title').val(quest_title);
        $('#edit-form').attr('action', "{% url 'updateQuest' %}");
    });
</script>
{% endblock %}

