{% extends 'survey/base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <strong>Success!</strong> {{ message }}
        {% endfor %}
    </div>
{% endif %}
    <a class="btn btn-primary" href="{% url 'addSurvey' %}">Add Survey</a>
    <br></br>
    <div class="card">
        <ul class="list-group">
            {% for survey in survey_list %}
                <li class="list-group-item">
                    <a href="{% url 'surveyQuest' survey.id %}"> {{ survey.name }}</a>
                    <a href="{% url 'deleteSurvey' survey.id %}"><span class="fa fa-trash text-right" style="float:right"></span></a>
                    <a href="{% url 'assignSurvey' survey.id %}"><span class="fa fa-share text-right" style="float:right"></span></a>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}