{% extends 'survey/base.html' %}
{% load cutom_tags %}
{% block content %}

    <h5>Questions in Survey</h5>
    <form class="form-horizontal" method="post" action="{% url 'saveSurveyAnswers'  survey_id %}{% if survey_questions_list.has_next %}?page={{ survey_questions_list.next_page_number }}{% endif %}">
      {% csrf_token %}
        <div class="card">
            <ul class="list-group">
                {% if survey_questions_list %}
                    {% for question in survey_questions_list %}
                    <li class="list-group-item">{{question.question_id}}<br>
                        {% if answer_list|in_result:question.question_id_id %}
                            {% if choices|in_category:question.question_id_id %}
                                <ol>
                                    {% for answer in answer_list|in_result:question.question_id_id%}
                                        {% for choice in choices|in_category:question.question_id_id%}
                                            {% if answer|slugify  == choice|slugify  %}
                                                <li><label><input type="radio" name="{{question.question_id_id}}" value="{{ choice }}" checked> {{choice}}</label></li>
                                            {% else %}
                                                <li><label><input type="radio" name="{{question.question_id_id}}" value="{{ choice }}"> {{choice}}</label></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ol>
                            {% else %}
                                {% for answer in answer_list|in_result:question.question_id_id%}
                                    <input type="text" name="{{question.question_id_id}}" class="form-control" value="{{answer}}">
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% if choices|in_category:question.question_id_id %}
                                <ol>
                                {% for choice in choices|in_category:question.question_id_id%}
                                    <li><label><input type="radio" name="{{question.question_id_id}}" value="{{ choice }}"> {{choice}}</label></li>
                                {% endfor %}
                                </ol>
                            {% else %}
                                <input type="text" name="{{question.question_id_id}}" class="form-control" placeholder="Enter answer">
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Survey does't have questions</li>
                {% endif %}
            </ul>
        </div>

        <div class="col-md-8">
        <div style="padding-left: 0;" class="col-md-6">
        {% if survey_questions_list.has_previous %}
            <a class="btn btn-success" href="?page={{ survey_questions_list.previous_page_number }}">&laquo;Previous</a>
        {% endif %}
        </div>
        <div class="col-md-6 " style="padding-right: 0;">
        {% if survey_questions_list.has_next %}
            <button type="submit" name="save" class="btn btn-primary pull-right" value="save">Save & Next &raquo;</button>
        {% else %}
            <button type="submit" name="save" class="btn btn-primary pull-right" value="finish" style="margin-left:20px">Submit & Finish</button>
            <button type="submit" name="save" class="btn btn-primary pull-right" value="final_save">Save & Finish</button>
        {% endif %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            <span class="current">
                Page {{ survey_questions_list.number }} of {{ survey_questions_list.paginator.num_pages }}.
            </span>
        </span>
    </div>
    </form>

{% endblock %}